.glob-btn-gray-new{
    background: -moz-linear-gradient(top, #f1f1f1, #f8f8f8); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(top, #f1f1f1, #f8f8f8);
    background: -o-linear-gradient(top, #f1f1f1, #f8f8f8); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1f1f1, #f8f8f8); /* IE10 */
    background: linear-gradient(top, #f1f1f1, #f8f8f8); /* CSS3 */ 
    border: 1px solid #c8c8c8;
    box-shadow: 1px 2px 0px #fbfbfb inset;
    font: 14px "Good-Light", sans-serif;
    display: block;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*width: 110px;*/
    height: 25px;
    color: #000;
    text-decoration: none;
    padding-top: 3px;
}
.glob-btn-gray-new:hover{
    color: #000;
    background: -moz-linear-gradient(top, #ededed, #f5f5f5); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(top, #ededed, #f5f5f5);
    background: -o-linear-gradient(top, #ededed, #f5f5f5); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ededed, #f5f5f5); /* IE10 */
    background: linear-gradient(top, #ededed, #f5f5f5); /* CSS3 */ 
    border: 1px solid #a6a6a6;
    box-shadow: 1px 2px 0px #fafafa inset, 0px 1px 2px #e8e8e8;
    cursor: pointer;
}
.glob-btn-gray-new:active{
    color: #000;
    background: -moz-linear-gradient(top, #e6e6e6, #f2f2f2); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(top, #e6e6e6, #f2f2f2);
    background: -o-linear-gradient(top, #e6e6e6, #f2f2f2); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e6e6e6, #f2f2f2); /* IE10 */
    background: linear-gradient(top, #e6e6e6, #f2f2f2); /* CSS3 */ 
    border: 1px solid #a6a6a6;
    box-shadow: 1px 2px 0px #d9d9d9 inset;
}
.ramk{
        margin: 0 auto;
        width: 450px;
        background-color: #C0C0C0;
        padding: 12px;
        text-align: justify;
        border-style: groove;
}

body{
    background-color: #eee;
    font-family: sans-serif;
}

.content{
    max-width: 80%;
    margin: 0 auto;
}

.message-body{
    text-align: justify;
    border-top: 1px solid #0a0;
    padding: 12px;
    background-color: #fff;
    min-width: 600px;
    margin: 0 auto;
    word-break: break-all;
}
.message-head{
    font-weight: bold;
    color: #00C;
    /*font-size: 120%;*/
}
.message-date{
    font-weight: 200;
    font-size: 70%;
    color: #666;
}
.post-btn{
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 2px outset #BBB;
    border-radius: 8px 4px;
    width: auto;
    float: right;
    margin-right: 10%;
    padding: 4px 8px;
    white-space: nowrap;
}
.post-btn:hover{
    border: 2px outset #777;
    cursor: pointer;
}
.post-btn:active{
    border: 2px inset #777;

}
.del-btn{
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 2px outset #BBB;
    border-radius: 8px 4px;
    width: auto;
    padding: 2px 4px;
    white-space: nowrap;
    float: right;
    margin: 0;
}
.del-btn:hover{
    border: 2px outset #777;
    cursor: pointer;
}
.del-btn:active{
    border: 2px inset #777;
}
.footer{
    min-height: 100px;
}